<div class="hero-unit">
	<h1>Seventy Degrees app</h1>
	<p>Where should I go now?</p>
</div>

<div class="row">
  <div class="span5">
  	<h2> this is where the calendar goes </h2>
  </div>
  <div class="span5">
  </div>
  <div class="span2">
  	<h3> this is where the ads go </h3>
  </div>
</div>

<div class="row">
  <div class="span5">
	 	<h2> this is where the slider goes </h2>
  </div>
  <div class="span5">
  	<%= link_to "GO!", "#", class: "btn btn-large btn-primary btn-block" %>
  </div>
  <div class="span2">
  	<h3> this is where the ads go </h3>
  </div>
</div>

<div class="row">
  <div class="span5">
  </div>
	<div class="span3">
  	<h3> this is where the destinations go </h3>
  </div>
  <div class="span2">
  	<h3> this is where something else goes </h3>
  </div>
  <div class="span2">
  	<h3> this is where the ads go </h3>
  </div>
</div>